{% extends 'dashboard.html.twig' %}
{% block body %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3
						                    border-bottom">
		<h1 class="h2">Accueil du Panel d'administration</h1>
	</div>
	<h5>Modifier une page:</h5>
	<p>Modifier une page vous permettra de modifier vos gîtes, d'en créer de nouveaux ou d'en supprimer</p>
	<h5>Modifier les options:</h5>
	<p>"Modifier les options vous permettra de choisir les options à figurer dans la liste des options pour chaque gîte</p>
	<p>ex "Lave-Linge" ou "Animaux acceptés"</p>    
{% endblock %}

