{% extends 'base.html.twig' %}
{% block body %}
    <!-- START OF SEARCH FORM-->
    <div class="container text-center" id="index_search">
        <h1 class="text-white">Recherchez le gîte de vos rêves</h1>
        <h4 class="text-white">Vos vacances commences dès maintenant</h4>
        <div class="input-group mb-3 container">
            <input type="text" class="form-control" placeholder="Où allez vous ?" aria-label="Rechercher..."
                aria-describedby="basic-addon2">
            <input type="text" class="form-control" placeholder="Date d'arrivée" aria-label="Quand ?"
                aria-describedby="basic-addon2" onfocus="(this.type='date')" name="startingDate">
            <input type="text" class="form-control" placeholder="Date de fin" aria-label="Quand ?"
                aria-describedby="basic-addon2" onfocus="(this.type='date')" name="endingDate">
            <input type="number" class="form-control" placeholder="Combien de personnes ?" aria-label="Rechercher..."
                aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-danger" type="button">Rechercher</button>
            </div>
        </div>
{% endblock %}



